{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
